<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="rendering_researchoutput rendering_short" data-uuid="{data.uuid}">
    <f:if condition="{data.title.value}">
        <h4 class="publication-title">
            <f:format.raw>{data.title.value}</f:format.raw>
        </h4>
    </f:if>

    <p class="publication-meta">
        <f:if condition="{data.contributors}">
            <span class="authors">
                <f:for each="{data.contributors}" as="contributor" iteration="iter">
                    <f:if condition="{iter.index} < 3">
                        <f:if condition="{contributor.name.lastName}">
                            <span class="author">{contributor.name.lastName}<f:if condition="{contributor.name.firstName}">, {contributor.name.firstName -> f:format.raw() -> f:format.crop(maxCharacters: 1, append: '')}.</f:if></span>
                            <f:if condition="!{iter.isLast} && {iter.index} < 2">; </f:if>
                        </f:if>
                    </f:if>
                </f:for>
                <f:if condition="{data.contributors -> f:count()} > 3">
                    <span class="et-al"> et al.</span>
                </f:if>
            </span>
        </f:if>

        <f:for each="{data.publicationStatuses}" as="status">
            <f:if condition="{status.current}">
                <span class="year">({status.publicationDate.year})</span>
            </f:if>
        </f:for>

        <f:if condition="{data.journalAssociation.title.title}">
            <span class="journal"><em>{data.journalAssociation.title.title}</em></span>
        </f:if>

        <f:for each="{data.electronicVersions}" as="version">
            <f:if condition="{version.doi}">
                <span class="doi">
                    <a href="https://doi.org/{version.doi}" target="_blank" rel="noopener">DOI: {version.doi}</a>
                </span>
            </f:if>
        </f:for>
    </p>
</div>
</html>
