{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:if condition="{settings.pager.insertAbove}">
    <f:render partial="Pure/Paginate/Pagination" arguments="{pagination:pagination}"/>
</f:if>

<div class="c-search__list">
<f:for each="{equipments}" as="item">
    <div class="c-search__item c-search__item--equipment">
        <f:if condition="{item.rendering}">
            <f:spaceless>
                <f:format.raw>{item.rendering}</f:format.raw>
            </f:spaceless>
        </f:if>

        <f:if condition="{item.contactPerson}">
            <p class="type equipment-meta">
                <span class="type_contact_person">
                    <f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.equipments.contactPerson"/>
                </span>
                <span class="type_classification">
                    <f:for each="{item.contactPerson}" as="p" iteration="Iter">
                        {p}<f:if condition="{Iter.isLast}"><f:else>, </f:else></f:if>
                    </f:for>
                </span>
            </p>
        </f:if>

        <f:if condition="{item.email}">
            <p class="type equipment-meta">
                <span class="type_contact_email">
                    <f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.equipments.contactMail"/>
                </span>
                <span class="type_classification">
                    <f:for each="{item.email}" as="e" iteration="Iter">
                        <f:link.email class="c-link c-link--inline" email="{e}">
                            <f:format.raw value="{v:format.replace(substring: '@', content: e, replacement: '<i class=\"fa-fa\" aria-hidden=\"true\"></i>')}"/>
                        </f:link.email><f:if condition="{Iter.isLast}"><f:else>, </f:else></f:if>
                    </f:for>
                </span>
            </p>
        </f:if>

        <f:if condition="{item.webAddress}">
            <p class="type equipment-meta">
                <span class="type_contact_webAddress">
                    <f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.equipments.webAddress"/>
                </span>
                <span class="type_classification">
                    <f:for each="{item.webAddress}" as="w" iteration="Iter">
                        <f:link.external uri="{w}" target="_blank"
                                         class="c-link--extern u-icon-after u-icon-after--new-tab">{w}</f:link.external><f:if condition="{Iter.isLast}"><f:else>, </f:else></f:if>
                    </f:for>
                </span>
            </p>
        </f:if>

        <f:if condition="{settings.singlePid}">
            <div class="more">
                <f:link.action action="show" arguments="{uuid: item.uuid, what2show: 'equip'}"
                               controller="Pure"
                               pageUid="{settings.singlePid}">
                    <strong>
                        <f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.more"/>
                    </strong>
                </f:link.action>
            </div>
        </f:if>

        <f:if condition="{settings.linkToPortal}">
            <f:if condition="{item.portalUrl}">
                <div class="equipment-portal-link">
                    <f:link.external uri="{item.portalUrl}" target="_blank"
                                     class="c-button u-icon-after u-icon-after--new-tab">
                        <f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.portalUrlLong"/>
                    </f:link.external>
                </div>
            </f:if>
        </f:if>
    </div>
</f:for>
</div>

<f:if condition="{settings.pager.insertBelow}">
    <f:render partial="Pure/Paginate/Pagination" arguments="{pagination:pagination}"/>
</f:if>
