

<div class="tx-univie-pure publication">

	<h1 class="content-element-margin"><f:format.raw>{publication.title.value}</f:format.raw></h1>
	<!-- -> f:format.stripTags(allowedTags: "<sub><sup>") for v8.x++ -->
	<!-- supervisors -->
	<f:if condition="{publication.subTitle}">
		<f:then>
			<h2 class="content-element-margin publication-section-title"><f:format.raw>{publication.subTitle.value}</f:format.raw></h2>
		</f:then>
	</f:if>

	<section class="publication-block publication-authorship">
		<h3 class="publication-section-title"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.authors" /></h3>
		<p class="publication-authors-list">
			<f:for each="{publication.personAssociations}" as="person" iteration="persIter">
				<f:if condition="{person.authorCollaboration}">
					<f:if condition="{lang} == 'de_DE' ">
						<f:then>
							<f:if condition="{person.authorCollaboration.name.text.1.locale} == 'de_DE'">
								<f:then>{person.authorCollaboration.name.text.1.value}</f:then>
								<f:else>
									<f:if condition="{person.authorCollaboration.name.text.1.value} != '' ">
										<f:then>{person.authorCollaboration.name.text.1.value}</f:then>
										<f:else>{person.authorCollaboration.name.text.0.value}</f:else>
									</f:if>
								</f:else>
							</f:if>
						</f:then>
						<f:else>
							<f:if condition="{person.authorCollaboration.name.text.0.locale} == 'en_GB'">
								<f:then>{person.authorCollaboration.name.text.0.value}</f:then>
								<f:else>
									<f:if condition="{person.authorCollaboration.name.text.0.value} != '' ">
										<f:then>{person.authorCollaboration.name.text.0.value}</f:then>
										<f:else>{person.authorCollaboration.name.text.1.value}</f:else>
									</f:if>
								</f:else>
							</f:if>
						</f:else>
					</f:if>
				</f:if>
				{person.name.firstName} {person.name.lastName}<f:if condition="{persIter.isLast}"><f:else>, </f:else></f:if>
			</f:for>
		</p>
	</section>

	<f:if condition="{publication.abstract.text}">
		<section class="publication-block publication-abstract-block">
			<h3 class="publication-section-title"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.abstract" /></h3>
			<div class="publication-abstract-content">
				<f:if condition="{lang} == 'de_DE' ">
					<f:then>
						<f:if condition="{publication.abstract.text.1.locale} == 'de_DE'">
							<f:then><f:format.html>{publication.abstract.text.1.value}</f:format.html></f:then>
							<f:else>
								<f:if condition="{publication.abstract.text.1.value} != '' ">
									<f:then><f:format.html>{publication.abstract.text.1.value}</f:format.html></f:then>
									<f:else><f:format.html>{publication.abstract.text.0.value}</f:format.html></f:else>
								</f:if>
							</f:else>
						</f:if>
					</f:then>
					<f:else>
						<f:if condition="{publication.abstract.text.0.locale} == 'en_GB'">
							<f:then><f:format.html>{publication.abstract.text.0.value}</f:format.html></f:then>
							<f:else>
								<f:if condition="{publication.abstract.text.0.value} != '' ">
									<f:then><f:format.html>{publication.abstract.text.0.value}</f:format.html></f:then>
									<f:else><f:format.html>{publication.abstract.text.1.value}</f:format.html></f:else>
								</f:if>
							</f:else>
						</f:if>
					</f:else>
				</f:if>
			</div>
		</section>
	</f:if>

	<h3 class="publication-section-title publication-section-title--details">
		<f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.details" />
	</h3>
	<dl>
		<!-- supervisors -->
		<f:if condition="{publication.supervisors}">
			<f:then>
				<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.supervisors" /></dt>
				<dd class="col-sm-9 content-element-margin-small">
					<f:for each="{publication.supervisors}" as="person" iteration="persIter">{person.name.firstName} {person.name.lastName}<f:if condition="{persIter.isLast}"><f:else>, </f:else></f:if>
					</f:for>
				</dd>
			</f:then>
		</f:if>

		<!-- Internal UNITS -->
		<f:if condition="{publication.organisationalUnits.0.name.text}">
			<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.units" /></dt>
			<f:if condition="{lang} == 'de_DE'">
				<f:then>
					<dd class="col-sm-9 content-element-margin-small">
						<f:for each="{publication.organisationalUnits}" as="unit" iteration="unitIter">
							<f:if condition="{unit.name.text.1.locale} == 'de_DE'">
								<f:then>
									{unit.name.text.1.value} <br>
								</f:then>
								<f:else>
									<f:if condition="{unit.name.text.1.value} != ''">
										<f:then>
											{unit.name.text.1.value} <br>
										</f:then>
										<f:else>
											{unit.name.text.0.value} <br>
										</f:else>
									</f:if>
								</f:else>
							</f:if>
						</f:for>
					</dd>
				</f:then>
				<f:else>
					<dd class="col-sm-9 content-element-margin-small">
						<f:for each="{publication.organisationalUnits}" as="unit" iteration="unitIter">
							<f:if condition="{unit.name.text.0.locale} == 'en_GB'">
								<f:then>
									{unit.name.text.0.value} <br>
								</f:then>
								<f:else>
									<f:if condition="{unit.name.text.1.value} != ''">
										<f:then>
											{unit.name.text.1.value} <br>
										</f:then>
										<f:else>
											{unit.name.text.0.value} <br>
										</f:else>
									</f:if>
								</f:else>
							</f:if>
						</f:for>
					</dd>
				</f:else>
			</f:if>
		</f:if>

		<!-- ext. UNITS -->
		<f:if condition="{publication.externalOrganisations.0.name.text}">
			<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.extunits" /></dt>

			<dd class="col-sm-9 content-element-margin-small">

				<f:if condition="{lang} == 'de_DE'">
					<f:then>
						<f:for each="{publication.externalOrganisations}" as="unit" iteration="unitIter">
							<f:if condition="{unit.name.text.1.locale} == 'de_DE'">
								<f:then>
									{unit.name.text.1.value} <br>
								</f:then>
								<f:else>
									<f:if condition="{unit.name.text.1.value} != '' ">
										<f:then>
											{unit.name.text.1.value} <br>
										</f:then>
										<f:else>
											{unit.name.text.0.value} <br>
										</f:else>
									</f:if>
								</f:else>
							</f:if>
						</f:for>
					</f:then>
					<f:else>
						<f:for each="{publication.externalOrganisations}" as="unit" iteration="unitIter">
							<f:if condition="{unit.name.text.0.locale} == 'en_GB'">
								<f:then>
									{unit.name.text.0.value} <br>
								</f:then>
								<f:else>
									<f:if condition="{unit.name.text.0.value} != '' ">
										<f:then>
											{unit.name.text.0.value} <br>
										</f:then>
										<f:else>
											{unit.name.text.1.value} <br>
										</f:else>
									</f:if>
								</f:else>
							</f:if>
						</f:for>
					</f:else>
				</f:if>
			</dd>

		</f:if>

		<!-- TYPE -->
		<dt><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.type" /></dt>
		<dd>
			<f:if condition="{lang} == 'de_DE'">
				<f:then>
					<f:if condition="{publication.type.term.text.1.value} != ''">
						<f:then>{publication.type.term.text.1.value}</f:then>
						<f:else>{publication.type.term.text.0.value}</f:else>
					</f:if>
				</f:then>
				<f:else>
					<f:if condition="{publication.type.term.text.0.value} != ''">
						<f:then>{publication.type.term.text.0.value}</f:then>
						<f:else>{publication.type.term.text.1.value}</f:else>
					</f:if>
				</f:else>
			</f:if>
		</dd>

		<!-- JOURNAL -->
		<f:if condition="{publication.journalAssociation.title.value}">
			<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.journal" /></dt>
			<dd class="col-sm-9">{publication.journalAssociation.title.value}</dd>
		</f:if>

		<!-- JOURNAL VOLUME -->
		<f:if condition="{publication.volume}">
			<f:then>
				<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.volume" /></dt>
				<dd class="col-sm-9">{publication.volume}</dd>
			</f:then>
		</f:if>

		<!-- JOURNAL PAGES -->
		<f:if condition="{publication.pages}">
			<f:then>
				<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.pages" /></dt>
				<dd class="col-sm-9">{publication.pages}</dd>
			</f:then>
		</f:if>

		<!-- NO. OF PAGES -->
		<f:if condition="{publication.numberOfPages}">
			<f:then>
				<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.numberOfPages" /></dt>
				<dd class="col-sm-9 content-element-margin-small">{publication.numberOfPages}</dd>
			</f:then>
		</f:if>

		<!-- ISSN -->
		<f:if condition="{publication.journalAssociation.issn}">
			<f:then>
				<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.issn" /></dt>
				<dd class="col-sm-9">{publication.journalAssociation.issn.value}</dd>
			</f:then>
		</f:if>


		<!-- DATE -->
		<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.publicationDate" /></dt>
		<dd class="col-sm-9">
			<f:for each="{publication.publicationStatuses}" as="status" iteration="unitIter">
				<f:if condition="{status.current} == 'true'"><f:then><f:if condition="{status.publicationDate.month}"><f:then><f:if condition="{status.publicationDate.day} != '' "><f:format.padding padLength="2" padString="0" padType="left">{status.publicationDate.day}</f:format.padding>.</f:if><f:format.padding padLength="2" padString="0" padType="left">{status.publicationDate.month}</f:format.padding>.<f:format.padding padLength="2" padString="0" padType="left">{status.publicationDate.year}</f:format.padding></f:then><f:else>{status.publicationDate.year}</f:else></f:if></f:then></f:if>
			</f:for>
		</dd>

		<!-- STATUS -->
		<f:if condition="{publication.publicationStatuses.0.publicationStatus.term.text}">
			<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.publicationStatus" /></dt>
			<dd class="col-sm-9">
				<f:for each="{publication.publicationStatuses}" as="status" iteration="unitIter">
					<f:if condition="{status.current} == 'true'">
						<f:then>
							<f:if condition="{lang} == 'de_DE'">
								<f:then>
									<f:if condition="{status.publicationStatus.term.text.1.value} != ''">
										<f:then>{status.publicationStatus.term.text.1.value}</f:then>
										<f:else>{status.publicationStatus.term.text.0.value}</f:else>
									</f:if>
								</f:then>
								<f:else>
									<f:if condition="{status.publicationStatus.term.text.0.value} != ''">
										<f:then>{status.publicationStatus.term.text.0.value}</f:then>
										<f:else>{status.publicationStatus.term.text.1.value}</f:else>
									</f:if>
								</f:else>
							</f:if>
						</f:then>
					</f:if>
				</f:for>
			</dd>

		</f:if>

		<!-- PEER REVIEW -->
		<f:if condition="{publication.peerReview}">
			<f:then>
				<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.peerReviewed" /></dt>
				<dd class="col-sm-9 content-element-margin-small">
					<f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.peerReviewed-true" />
				</dd>
			</f:then>
		</f:if>

		<!-- KEYWORDS -->
		<f:if condition="{publication.keywordGroups}">
			<f:then>
					<f:for each="{publication.keywordGroups}" as="keywordsGroup">
						<f:if condition="{keywordsGroup.keywordContainers.0.structuredKeyword.term.text}">
							<f:then>
								<dt class="col-sm-3">
									<f:if condition="{lang} == 'de_DE'">
										<f:then>
											<f:if condition="{keywordsGroup.type.term.text.1.value} != ''">
												<f:then>{keywordsGroup.type.term.text.1.value}</f:then>
												<f:else>{keywordsGroup.type.term.text.0.value}</f:else>
											</f:if>
										</f:then>
										<f:else>
											<f:if condition="{keywordsGroup.type.term.text.0.value} != ''">
												<f:then>{keywordsGroup.type.term.text.0.value}</f:then>
												<f:else>{keywordsGroup.type.term.text.1.value}</f:else>
											</f:if>
										</f:else>
									</f:if>
								</dt>
								<dd class="col-sm-9 content-element-margin-small">
									<f:for each="{keywordsGroup.keywordContainers}" as="container" iteration="keywordIter">
										<f:if condition="{lang} == 'de_DE'">
											<f:then>
												<f:if condition="{container.structuredKeyword.term.text.1.value}">
													<f:then>{container.structuredKeyword.term.text.1.value}<f:if condition="{keywordIter.isLast}"><f:else>, </f:else></f:if></f:then>
													<f:else>{container.structuredKeyword.term.text.0.value}<f:if condition="{keywordIter.isLast}"><f:else>, </f:else></f:if></f:else>
												</f:if>
											</f:then>
											<f:else>
												<f:if condition="{container.structuredKeyword.term.text.0.value}">
													<f:then>{container.structuredKeyword.term.text.0.value}<f:if condition="{keywordIter.isLast}"><f:else>, </f:else></f:if></f:then>
													<f:else>{container.structuredKeyword.term.text.1.value}<f:if condition="{keywordIter.isLast}"><f:else>, </f:else></f:if></f:else>
												</f:if>
											</f:else>
										</f:if>
									</f:for>
								</dd>
							</f:then>
					</f:if>
				</f:for>
			</f:then>
		</f:if>

		<!-- ELECTRONIC VERSION -->
		<f:if condition="{publication.electronicVersions}">
			<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.electronicVersions" /></dt>
			<dd class="col-sm-9 content-element-margin-small">
					<f:for each="{publication.electronicVersions}" as="electronicVersion">
						<f:if condition="{electronicVersion.link}">
							<a href="{electronicVersion.link}" target="_blank" rel="noopener noreferrer">{electronicVersion.link}</a> (<f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.electronicVersionsAccess" />
							<f:if condition="{lang} == 'de_DE'">
								<f:then>
									<f:if condition="{electronicVersion.accessType.term.text.1.value} != ''">
										<f:then>{electronicVersion.accessType.term.text.1.value}</f:then>
										<f:else>{electronicVersion.accessType.term.text.0.value}</f:else>
									</f:if>
								</f:then>
								<f:else>
									<f:if condition="{electronicVersion.accessType.term.text.0.value} != ''">
										<f:then>{electronicVersion.accessType.term.text.0.value}</f:then>
										<f:else>{electronicVersion.accessType.term.text.1.value}</f:else>
									</f:if>
								</f:else>
							</f:if>)<br>
						</f:if>
						<f:if condition="{electronicVersion.doi}">
							<a href="{electronicVersion.doi}" target="_blank" rel="noopener noreferrer">{electronicVersion.doi}</a> (<f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.electronicVersionsAccess" />
							<f:if condition="{lang} == 'de_DE'">
								<f:then>
									<f:if condition="{electronicVersion.accessType.term.text.1.value} != ''">
										<f:then>{electronicVersion.accessType.term.text.1.value}</f:then>
										<f:else>{electronicVersion.accessType.term.text.0.value}</f:else>
									</f:if>
								</f:then>
								<f:else>
									<f:if condition="{electronicVersion.accessType.term.text.0.value} != ''">
										<f:then>{electronicVersion.accessType.term.text.0.value}</f:then>
										<f:else>{electronicVersion.accessType.term.text.1.value}</f:else>
									</f:if>
								</f:else>
							</f:if>)<br>
						</f:if>
					</f:for>
				</dd>
		</f:if>

		<!-- PORTAL URL -->
		<f:if condition="{settings.linkToPortal}">
			<dt class="col-sm-3"><f:format.htmlentitiesDecode>&nbsp;</f:format.htmlentitiesDecode>

			</dt>
			<dd class="col-sm-9 content-element-margin-small">
				<f:if condition="{publication.info.portalUrl}">
					<p class="type publication-portal-link-row">
					<f:link.external uri="{publication.info.portalUrl}" target="_blank" rel="noopener noreferrer" class="c-button u-icon-after u-icon-after--new-tab"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.portalUrlLong" /></f:link.external>
					</p>
				</f:if>

		</f:if>

		<f:if condition="{publicationInsights}">
			<f:then>
				<f:render partial="Pure/PublicationInsights" arguments="{publicationInsights:publicationInsights}" />
			</f:then>
			<f:else>
				<f:if condition="{lang} == 'de_DE'">
					<f:then>
						<f:if condition="{publication.openAccessPermission.term.text.1.value}">
							<dt><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.insights.oaStatus" /></dt>
							<dd><span class="publication-insights__badge is-unknown">{publication.openAccessPermission.term.text.1.value}</span></dd>
						</f:if>
					</f:then>
					<f:else>
						<f:if condition="{publication.openAccessPermission.term.text.0.value}">
							<dt><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.insights.oaStatus" /></dt>
							<dd><span class="publication-insights__badge is-unknown">{publication.openAccessPermission.term.text.0.value}</span></dd>
						</f:if>
					</f:else>
				</f:if>

				<dt><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.insights.scopusCitations" /></dt>
				<dd><f:if condition="{publication.totalScopusCitations}"><f:then>{publication.totalScopusCitations}</f:then><f:else>0</f:else></f:if></dd>

				<dt><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.insights.fwci" /></dt>
				<dd><f:if condition="{publication.fieldWeightedCitationImpact}"><f:then>{publication.fieldWeightedCitationImpact}</f:then><f:else>0.0</f:else></f:if></dd>

				<f:if condition="{publication.info.modifiedDate}">
					<dt><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.insights.lastModified" /></dt>
					<dd>{publication.info.modifiedDate}</dd>
				</f:if>
			</f:else>
		</f:if>

	</dl>

</div>
