<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="tx-univie-pure publication" role="article" aria-labelledby="publication-title">

    <!-- Header: Title and Subtitle -->
    <header class="publication-header">
        <h1 id="publication-title"><f:format.raw>{publication.title.value}</f:format.raw></h1>

        <f:if condition="{publication.subTitle}">
            <h2><f:format.raw>{publication.subTitle.value}</f:format.raw></h2>
        </f:if>

        <!-- Publication Type Badge -->
        <span class="publication-type-badge" aria-label="Publication type">
            <f:if condition="{lang} == 'de_DE'">
                <f:then>
                    <f:if condition="{publication.type.term.text.1.value} != ''">
                        <f:then>{publication.type.term.text.1.value}</f:then>
                        <f:else>{publication.type.term.text.0.value}</f:else>
                    </f:if>
                </f:then>
                <f:else>
                    <f:if condition="{publication.type.term.text.0.value} != ''">
                        <f:then>{publication.type.term.text.0.value}</f:then>
                        <f:else>{publication.type.term.text.1.value}</f:else>
                    </f:if>
                </f:else>
            </f:if>
        </span>
    </header>

    <!-- Authors Section - Highlighted -->
    <section class="publication-authors" aria-label="Authors">
        <div class="publication-authors-label">
            <f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.authors" />
        </div>
        <div class="publication-authors-list">
            <f:for each="{publication.personAssociations}" as="person" iteration="persIter">
                <f:if condition="{person.authorCollaboration}">
                    <f:if condition="{lang} == 'de_DE'">
                        <f:then>
                            <f:if condition="{person.authorCollaboration.name.text.1.locale} == 'de_DE'">
                                <f:then>{person.authorCollaboration.name.text.1.value}</f:then>
                                <f:else>
                                    <f:if condition="{person.authorCollaboration.name.text.1.value} != ''">
                                        <f:then>{person.authorCollaboration.name.text.1.value}</f:then>
                                        <f:else>{person.authorCollaboration.name.text.0.value}</f:else>
                                    </f:if>
                                </f:else>
                            </f:if>
                        </f:then>
                        <f:else>
                            <f:if condition="{person.authorCollaboration.name.text.0.locale} == 'en_GB'">
                                <f:then>{person.authorCollaboration.name.text.0.value}</f:then>
                                <f:else>
                                    <f:if condition="{person.authorCollaboration.name.text.0.value} != ''">
                                        <f:then>{person.authorCollaboration.name.text.0.value}</f:then>
                                        <f:else>{person.authorCollaboration.name.text.1.value}</f:else>
                                    </f:if>
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </f:if>
                <span>{person.name.firstName} {person.name.lastName}</span><f:if condition="{persIter.isLast}"><f:else>, </f:else></f:if>
            </f:for>
        </div>
    </section>

    <!-- Abstract Section - Special Styling (if exists) -->
    <f:if condition="{publication.abstract.text}">
        <section class="publication-abstract" aria-label="Abstract">
            <div class="publication-abstract-label">
                <f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.abstract" />
            </div>
            <div class="publication-abstract-content">
                <f:if condition="{lang} == 'de_DE'">
                    <f:then>
                        <f:if condition="{publication.abstract.text.1.locale} == 'de_DE'">
                            <f:then><f:format.html>{publication.abstract.text.1.value}</f:format.html></f:then>
                            <f:else>
                                <f:if condition="{publication.abstract.text.1.value} != ''">
                                    <f:then><f:format.html>{publication.abstract.text.1.value}</f:format.html></f:then>
                                    <f:else><f:format.html>{publication.abstract.text.0.value}</f:format.html></f:else>
                                </f:if>
                            </f:else>
                        </f:if>
                    </f:then>
                    <f:else>
                        <f:if condition="{publication.abstract.text.0.locale} == 'en_GB'">
                            <f:then><f:format.html>{publication.abstract.text.0.value}</f:format.html></f:then>
                            <f:else>
                                <f:if condition="{publication.abstract.text.0.value} != ''">
                                    <f:then><f:format.html>{publication.abstract.text.0.value}</f:format.html></f:then>
                                    <f:else><f:format.html>{publication.abstract.text.1.value}</f:format.html></f:else>
                                </f:if>
                            </f:else>
                        </f:if>
                    </f:else>
                </f:if>
            </div>
        </section>
    </f:if>

    <!-- Metadata Definition List -->
    <dl>
        <!-- Supervisors -->
        <f:if condition="{publication.supervisors}">
            <dt><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.supervisors" /></dt>
            <dd>
                <f:for each="{publication.supervisors}" as="person" iteration="persIter">
                    {person.name.firstName} {person.name.lastName}<f:if condition="{persIter.isLast}"><f:else>, </f:else></f:if>
                </f:for>
            </dd>
        </f:if>

        <!-- Internal Units -->
        <f:if condition="{publication.organisationalUnits.0.name.text}">
            <dt><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.units" /></dt>
            <dd>
                <f:if condition="{lang} == 'de_DE'">
                    <f:then>
                        <f:for each="{publication.organisationalUnits}" as="unit" iteration="unitIter">
                            <f:if condition="{unit.name.text.1.locale} == 'de_DE'">
                                <f:then>{unit.name.text.1.value}</f:then>
                                <f:else>
                                    <f:if condition="{unit.name.text.1.value} != ''">
                                        <f:then>{unit.name.text.1.value}</f:then>
                                        <f:else>{unit.name.text.0.value}</f:else>
                                    </f:if>
                                </f:else>
                            </f:if>
                            <f:if condition="{unitIter.isLast}"><f:else><br></f:else></f:if>
                        </f:for>
                    </f:then>
                    <f:else>
                        <f:for each="{publication.organisationalUnits}" as="unit" iteration="unitIter">
                            <f:if condition="{unit.name.text.0.locale} == 'en_GB'">
                                <f:then>{unit.name.text.0.value}</f:then>
                                <f:else>
                                    <f:if condition="{unit.name.text.1.value} != ''">
                                        <f:then>{unit.name.text.1.value}</f:then>
                                        <f:else>{unit.name.text.0.value}</f:else>
                                    </f:if>
                                </f:else>
                            </f:if>
                            <f:if condition="{unitIter.isLast}"><f:else><br></f:else></f:if>
                        </f:for>
                    </f:else>
                </f:if>
            </dd>
        </f:if>

        <!-- External Units -->
        <f:if condition="{publication.externalOrganisations.0.name.text}">
            <dt><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.extunits" /></dt>
            <dd>
                <f:if condition="{lang} == 'de_DE'">
                    <f:then>
                        <f:for each="{publication.externalOrganisations}" as="unit" iteration="unitIter">
                            <f:if condition="{unit.name.text.1.locale} == 'de_DE'">
                                <f:then>{unit.name.text.1.value}</f:then>
                                <f:else>
                                    <f:if condition="{unit.name.text.1.value} != ''">
                                        <f:then>{unit.name.text.1.value}</f:then>
                                        <f:else>{unit.name.text.0.value}</f:else>
                                    </f:if>
                                </f:else>
                            </f:if>
                            <f:if condition="{unitIter.isLast}"><f:else><br></f:else></f:if>
                        </f:for>
                    </f:then>
                    <f:else>
                        <f:for each="{publication.externalOrganisations}" as="unit" iteration="unitIter">
                            <f:if condition="{unit.name.text.0.locale} == 'en_GB'">
                                <f:then>{unit.name.text.0.value}</f:then>
                                <f:else>
                                    <f:if condition="{unit.name.text.0.value} != ''">
                                        <f:then>{unit.name.text.0.value}</f:then>
                                        <f:else>{unit.name.text.1.value}</f:else>
                                    </f:if>
                                </f:else>
                            </f:if>
                            <f:if condition="{unitIter.isLast}"><f:else><br></f:else></f:if>
                        </f:for>
                    </f:else>
                </f:if>
            </dd>
        </f:if>

        <!-- Journal -->
        <f:if condition="{publication.journalAssociation.title.value}">
            <dt><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.journal" /></dt>
            <dd>{publication.journalAssociation.title.value}</dd>
        </f:if>

        <!-- Volume -->
        <f:if condition="{publication.volume}">
            <dt><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.volume" /></dt>
            <dd>{publication.volume}</dd>
        </f:if>

        <!-- Pages -->
        <f:if condition="{publication.pages}">
            <dt><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.pages" /></dt>
            <dd>{publication.pages}</dd>
        </f:if>

        <!-- Number of Pages -->
        <f:if condition="{publication.numberOfPages}">
            <dt><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.numberOfPages" /></dt>
            <dd>{publication.numberOfPages}</dd>
        </f:if>

        <!-- ISSN -->
        <f:if condition="{publication.journalAssociation.issn}">
            <dt><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.issn" /></dt>
            <dd>{publication.journalAssociation.issn.value}</dd>
        </f:if>

        <!-- Publication Date -->
        <dt><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.publicationDate" /></dt>
        <dd>
            <time>
                <f:for each="{publication.publicationStatuses}" as="status" iteration="unitIter">
                    <f:if condition="{status.current} == 'true'">
                        <f:then>
                            <f:if condition="{status.publicationDate.month}">
                                <f:then>
                                    <f:if condition="{status.publicationDate.day} != ''">
                                        <f:format.padding padLength="2" padString="0" padType="left">{status.publicationDate.day}</f:format.padding>.
                                    </f:if>
                                    <f:format.padding padLength="2" padString="0" padType="left">{status.publicationDate.month}</f:format.padding>.<f:format.padding padLength="2" padString="0" padType="left">{status.publicationDate.year}</f:format.padding>
                                </f:then>
                                <f:else>{status.publicationDate.year}</f:else>
                            </f:if>
                        </f:then>
                    </f:if>
                </f:for>
            </time>
        </dd>

        <!-- Publication Status -->
        <f:if condition="{publication.publicationStatuses.0.publicationStatus.term.text}">
            <dt><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.publicationStatus" /></dt>
            <dd>
                <f:for each="{publication.publicationStatuses}" as="status" iteration="unitIter">
                    <f:if condition="{status.current} == 'true'">
                        <f:then>
                            <f:if condition="{lang} == 'de_DE'">
                                <f:then>
                                    <f:if condition="{status.publicationStatus.term.text.1.value} != ''">
                                        <f:then>{status.publicationStatus.term.text.1.value}</f:then>
                                        <f:else>{status.publicationStatus.term.text.0.value}</f:else>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <f:if condition="{status.publicationStatus.term.text.0.value} != ''">
                                        <f:then>{status.publicationStatus.term.text.0.value}</f:then>
                                        <f:else>{status.publicationStatus.term.text.1.value}</f:else>
                                    </f:if>
                                </f:else>
                            </f:if>
                        </f:then>
                    </f:if>
                </f:for>
            </dd>
        </f:if>

        <!-- Peer Review Badge -->
        <f:if condition="{publication.peerReview}">
            <dt><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.peerReviewed" /></dt>
            <dd>
                <span class="peer-review-badge">
                    <f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.peerReviewed-true" />
                </span>
            </dd>
        </f:if>

        <!-- Keywords as Tags -->
        <f:if condition="{publication.keywordGroups}">
            <f:for each="{publication.keywordGroups}" as="keywordsGroup">
                <f:if condition="{keywordsGroup.keywordContainers.0.structuredKeyword.term.text}">
                    <dt>
                        <f:if condition="{lang} == 'de_DE'">
                            <f:then>
                                <f:if condition="{keywordsGroup.type.term.text.1.value} != ''">
                                    <f:then>{keywordsGroup.type.term.text.1.value}</f:then>
                                    <f:else>{keywordsGroup.type.term.text.0.value}</f:else>
                                </f:if>
                            </f:then>
                            <f:else>
                                <f:if condition="{keywordsGroup.type.term.text.0.value} != ''">
                                    <f:then>{keywordsGroup.type.term.text.0.value}</f:then>
                                    <f:else>{keywordsGroup.type.term.text.1.value}</f:else>
                                </f:if>
                            </f:else>
                        </f:if>
                    </dt>
                    <dd>
                        <div class="publication-keywords">
                            <f:for each="{keywordsGroup.keywordContainers}" as="container" iteration="keywordIter">
                                <span class="publication-keyword">
                                    <f:if condition="{lang} == 'de_DE'">
                                        <f:then>
                                            <f:if condition="{container.structuredKeyword.term.text.1.value}">
                                                <f:then>{container.structuredKeyword.term.text.1.value}</f:then>
                                                <f:else>{container.structuredKeyword.term.text.0.value}</f:else>
                                            </f:if>
                                        </f:then>
                                        <f:else>
                                            <f:if condition="{container.structuredKeyword.term.text.0.value}">
                                                <f:then>{container.structuredKeyword.term.text.0.value}</f:then>
                                                <f:else>{container.structuredKeyword.term.text.1.value}</f:else>
                                            </f:if>
                                        </f:else>
                                    </f:if>
                                </span>
                            </f:for>
                        </div>
                    </dd>
                </f:if>
            </f:for>
        </f:if>
    </dl>

    <!-- Electronic Versions / Links Card -->
    <f:if condition="{publication.electronicVersions}">
        <section class="publication-links" aria-label="Electronic versions">
            <div class="publication-links-title">
                <f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.electronicVersions" />
            </div>
            <f:for each="{publication.electronicVersions}" as="electronicVersion">
                <f:if condition="{electronicVersion.link}">
                    <div class="publication-link-item">
                        <div class="publication-link-text">
                            <a href="{electronicVersion.link}" target="_blank" rel="noopener noreferrer">
                                {electronicVersion.link}
                            </a>
                            <span class="publication-link-access">
                                (<f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.electronicVersionsAccess" />
                                <f:if condition="{lang} == 'de_DE'">
                                    <f:then>
                                        <f:if condition="{electronicVersion.accessType.term.text.1.value} != ''">
                                            <f:then>{electronicVersion.accessType.term.text.1.value}</f:then>
                                            <f:else>{electronicVersion.accessType.term.text.0.value}</f:else>
                                        </f:if>
                                    </f:then>
                                    <f:else>
                                        <f:if condition="{electronicVersion.accessType.term.text.0.value} != ''">
                                            <f:then>{electronicVersion.accessType.term.text.0.value}</f:then>
                                            <f:else>{electronicVersion.accessType.term.text.1.value}</f:else>
                                        </f:if>
                                    </f:else>
                                </f:if>)
                            </span>
                        </div>
                    </div>
                </f:if>
                <f:if condition="{electronicVersion.doi}">
                    <div class="publication-link-item">
                        <div class="publication-link-text">
                            <a href="{electronicVersion.doi}" target="_blank" rel="noopener noreferrer">
                                {electronicVersion.doi}
                            </a>
                            <span class="publication-link-access">
                                (<f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.electronicVersionsAccess" />
                                <f:if condition="{lang} == 'de_DE'">
                                    <f:then>
                                        <f:if condition="{electronicVersion.accessType.term.text.1.value} != ''">
                                            <f:then>{electronicVersion.accessType.term.text.1.value}</f:then>
                                            <f:else>{electronicVersion.accessType.term.text.0.value}</f:else>
                                        </f:if>
                                    </f:then>
                                    <f:else>
                                        <f:if condition="{electronicVersion.accessType.term.text.0.value} != ''">
                                            <f:then>{electronicVersion.accessType.term.text.0.value}</f:then>
                                            <f:else>{electronicVersion.accessType.term.text.1.value}</f:else>
                                        </f:if>
                                    </f:else>
                                </f:if>)
                            </span>
                        </div>
                    </div>
                </f:if>
            </f:for>
        </section>
    </f:if>

    <!-- Portal Link Button -->
    <f:if condition="{showLinkToPortal}">
        <f:if condition="{publication.info.portalUrl}">
            <f:link.external uri="{publication.info.portalUrl}" target="_blank" rel="noopener noreferrer" class="publication-portal-link">
                <f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.portalUrlLong" />
            </f:link.external>
        </f:if>
    </f:if>

</div>

</html>
