<div class="tx-univie-pure publication">

	<h1 class="content-element-margin">
		<f:if condition="{publication.title.value}">
			<f:then><f:format.raw>{publication.title.value}</f:format.raw></f:then>
			<f:else><f:format.raw>{publication.title}</f:format.raw></f:else>
		</f:if>
	</h1>

	<f:if condition="{publication.subTitle}">
		<f:then>
			<h2 class="content-element-margin publication-section-title"><f:format.raw>{publication.subTitle.value}</f:format.raw></h2>
		</f:then>
	</f:if>

	<section class="publication-block publication-authorship">
		<h3 class="publication-section-title"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.authors" /></h3>
		<p class="publication-authors-list">
			<f:if condition="{publication.contributors}">
				<f:then>
					<f:for each="{publication.contributors}" as="person" iteration="persIter">
						{person.name.firstName} {person.name.lastName}<f:if condition="{persIter.isLast}"><f:else>, </f:else></f:if>
					</f:for>
				</f:then>
				<f:else>
					<f:for each="{publication.personAssociations}" as="person" iteration="persIter">
						<f:if condition="{person.authorCollaboration}">
							<f:render partial="Pure/LocalizedText" arguments="{textData: person.authorCollaboration.name, lang: lang}" />
						</f:if>
						{person.name.firstName} {person.name.lastName}<f:if condition="{persIter.isLast}"><f:else>, </f:else></f:if>
					</f:for>
				</f:else>
			</f:if>
		</p>
	</section>

	<f:if condition="{publication.abstract}">
		<section class="publication-block publication-abstract-block">
			<h3 class="publication-section-title"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.abstract" /></h3>
			<div class="publication-abstract-content">
				<f:render partial="Pure/LocalizedHtml" arguments="{textData: publication.abstract, lang: lang}" />
			</div>
		</section>
	</f:if>

	<section class="publication-block publication-details-block">
	<h3 class="publication-section-title publication-section-title--details">
		<f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.details" />
	</h3>
	<dl>
		<!-- supervisors -->
		<f:if condition="{publication.supervisors}">
			<f:then>
				<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.supervisors" /></dt>
				<dd class="col-sm-9 content-element-margin-small">
					<f:for each="{publication.supervisors}" as="person" iteration="persIter">{person.name.firstName} {person.name.lastName}<f:if condition="{persIter.isLast}"><f:else>, </f:else></f:if>
					</f:for>
				</dd>
			</f:then>
		</f:if>

		<!-- Internal UNITS -->
		<f:if condition="{publication.organisationalUnits}">
			<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.units" /></dt>
			<dd class="col-sm-9 content-element-margin-small">
				<f:for each="{publication.organisationalUnits}" as="unit" iteration="unitIter">
					<f:render partial="Pure/LocalizedText" arguments="{textData: unit.name, lang: lang}" /><br>
				</f:for>
			</dd>
		</f:if>

		<!-- ext. UNITS -->
		<f:if condition="{publication.externalOrganisations}">
			<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.extunits" /></dt>
			<dd class="col-sm-9 content-element-margin-small">
				<f:for each="{publication.externalOrganisations}" as="unit" iteration="unitIter">
					<f:render partial="Pure/LocalizedText" arguments="{textData: unit.name, lang: lang}" /><br>
				</f:for>
			</dd>
		</f:if>

		<!-- TYPE -->
		<f:if condition="{publication.type}">
			<dt><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.type" /></dt>
			<dd>
				<f:render partial="Pure/LocalizedText" arguments="{textData: publication.type.term, lang: lang}" />
			</dd>
		</f:if>

		<!-- JOURNAL -->
		<f:if condition="{publication.journalAssociation.title.value}">
			<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.journal" /></dt>
			<dd class="col-sm-9">{publication.journalAssociation.title.value}</dd>
		</f:if>

		<!-- JOURNAL VOLUME -->
		<f:if condition="{publication.volume}">
			<f:then>
				<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.volume" /></dt>
				<dd class="col-sm-9">{publication.volume}</dd>
			</f:then>
		</f:if>

		<!-- JOURNAL PAGES -->
		<f:if condition="{publication.pages}">
			<f:then>
				<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.pages" /></dt>
				<dd class="col-sm-9">{publication.pages}</dd>
			</f:then>
		</f:if>

		<!-- NO. OF PAGES -->
		<f:if condition="{publication.numberOfPages}">
			<f:then>
				<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.numberOfPages" /></dt>
				<dd class="col-sm-9 content-element-margin-small">{publication.numberOfPages}</dd>
			</f:then>
		</f:if>

		<!-- ISSN -->
		<f:if condition="{publication.journalAssociation.issn.value}">
			<f:then>
				<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.issn" /></dt>
				<dd class="col-sm-9">{publication.journalAssociation.issn.value}</dd>
			</f:then>
		</f:if>

		<!-- DATE -->
		<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.publicationDate" /></dt>
		<dd class="col-sm-9">
			<f:for each="{publication.publicationStatuses}" as="status" iteration="unitIter">
				<f:if condition="{status.current}"><f:then><f:if condition="{status.publicationDate.month}"><f:then><f:if condition="{status.publicationDate.day}"><f:format.padding padLength="2" padString="0" padType="left">{status.publicationDate.day}</f:format.padding>.</f:if><f:format.padding padLength="2" padString="0" padType="left">{status.publicationDate.month}</f:format.padding>.<f:format.padding padLength="2" padString="0" padType="left">{status.publicationDate.year}</f:format.padding></f:then><f:else>{status.publicationDate.year}</f:else></f:if></f:then></f:if>
			</f:for>
		</dd>

		<!-- STATUS -->
		<f:if condition="{publication.publicationStatuses}">
			<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.publicationStatus" /></dt>
			<dd class="col-sm-9">
				<f:for each="{publication.publicationStatuses}" as="status" iteration="unitIter">
					<f:if condition="{status.current}">
						<f:then>
							<f:render partial="Pure/LocalizedText" arguments="{textData: status.publicationStatus.term, lang: lang}" />
						</f:then>
					</f:if>
				</f:for>
			</dd>
		</f:if>

		<!-- PEER REVIEW -->
		<f:if condition="{publication.peerReview}">
			<f:then>
				<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.peerReviewed" /></dt>
				<dd class="col-sm-9 content-element-margin-small">
					<f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.peerReviewed-true" />
				</dd>
			</f:then>
		</f:if>

		<!-- KEYWORDS -->
		<f:if condition="{publication.keywordGroups}">
			<f:then>
				<f:for each="{publication.keywordGroups}" as="keywordsGroup">
					<f:if condition="{keywordsGroup.keywordContainers}">
						<f:then>
							<dt class="col-sm-3">
								<f:render partial="Pure/LocalizedText" arguments="{textData: keywordsGroup.type.term, lang: lang, fallback: 'Keywords'}" />
							</dt>
							<dd class="col-sm-9 content-element-margin-small">
								<f:for each="{keywordsGroup.keywordContainers}" as="container" iteration="keywordIter">
									<f:render partial="Pure/LocalizedText" arguments="{textData: container.structuredKeyword.term, lang: lang}" /><f:if condition="{keywordIter.isLast}"><f:else>, </f:else></f:if>
								</f:for>
							</dd>
						</f:then>
					</f:if>
				</f:for>
			</f:then>
		</f:if>

		<!-- ELECTRONIC VERSION -->
		<f:if condition="{publication.electronicVersions}">
			<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.electronicVersions" /></dt>
			<dd class="col-sm-9 content-element-margin-small">
				<f:for each="{publication.electronicVersions}" as="electronicVersion">
					<f:if condition="{electronicVersion.link}">
						<a href="{electronicVersion.link}" target="_blank" rel="noopener noreferrer">{electronicVersion.link}</a>
						(<f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.electronicVersionsAccess" />
						<f:render partial="Pure/LocalizedText" arguments="{textData: electronicVersion.accessType.term, lang: lang}" /><f:if condition="{electronicVersion.versionType}">; <f:render partial="Pure/LocalizedText" arguments="{textData: electronicVersion.versionType.term, lang: lang}" /></f:if>)<br>
					</f:if>
					<f:if condition="{electronicVersion.doi}">
						<a href="https://doi.org/{electronicVersion.doi}" target="_blank" rel="noopener noreferrer">{electronicVersion.doi}</a>
						(<f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.electronicVersionsAccess" />
						<f:render partial="Pure/LocalizedText" arguments="{textData: electronicVersion.accessType.term, lang: lang}" /><f:if condition="{electronicVersion.versionType}">; <f:render partial="Pure/LocalizedText" arguments="{textData: electronicVersion.versionType.term, lang: lang}" /></f:if>)<br>
					</f:if>
				</f:for>
			</dd>
		</f:if>

		<!-- PORTAL URL -->
		<f:if condition="{settings.linkToPortal}">
			<dt class="col-sm-3"><f:format.htmlentitiesDecode>&nbsp;</f:format.htmlentitiesDecode></dt>
			<dd class="col-sm-9 content-element-margin-small">
				<f:if condition="{publication.info.portalUrl}">
					<p class="type publication-portal-link-row">
						<f:link.external uri="{publication.info.portalUrl}" target="_blank" rel="noopener noreferrer" class="c-button u-icon-after u-icon-after--new-tab"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.portalUrlLong" /></f:link.external>
					</p>
				</f:if>
				<f:if condition="{publication.portalUrl -> f:if(condition: '!{publication.info.portalUrl}')}">
					<p class="type publication-portal-link-row">
						<f:link.external uri="{publication.portalUrl}" target="_blank" rel="noopener noreferrer" class="c-button u-icon-after u-icon-after--new-tab"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.portalUrlLong" /></f:link.external>
					</p>
				</f:if>
			</dd>
		</f:if>

		<f:if condition="{publicationInsights}">
			<f:then>
				<f:render partial="Pure/PublicationInsights" arguments="{publicationInsights:publicationInsights}" />
			</f:then>
		</f:if>

	</dl>
	</section>

</div>
