<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="rendering_person rendering_detailed" data-uuid="{data.uuid}">
    <h3 class="person-name">
        <f:if condition="{data.name.lastName}">
            {data.name.lastName}<f:if condition="{data.name.firstName}">, {data.name.firstName}</f:if>
        </f:if>
    </h3>

    <div class="person-details">
        <dl>
            <f:if condition="{data.title}">
                <dt>Title</dt>
                <dd>{data.title}</dd>
            </f:if>

            <f:if condition="{data.jobDescription}">
                <dt>Position</dt>
                <dd>{data.jobDescription}</dd>
            </f:if>

            <f:if condition="{data.email}">
                <dt>Email</dt>
                <dd><a href="mailto:{data.email}">{data.email}</a></dd>
            </f:if>

            <f:if condition="{data.orcid}">
                <dt>ORCID</dt>
                <dd><a href="https://orcid.org/{data.orcid}" target="_blank" rel="noopener">{data.orcid}</a></dd>
            </f:if>

            <f:if condition="{data.phone}">
                <dt>Phone</dt>
                <dd>{data.phone}</dd>
            </f:if>

            <f:if condition="{data.info.portalUrl}">
                <dt>Profile</dt>
                <dd><a href="{data.info.portalUrl}" target="_blank" rel="noopener">View in Pure</a></dd>
            </f:if>
        </dl>
    </div>

    <f:if condition="{data.organisationalUnits}">
        <div class="person-organisations">
            <h5>Affiliations</h5>
            <ul>
                <f:for each="{data.organisationalUnits}" as="unit">
                    <li>
                        <f:if condition="{unit.name.en_GB}">
                            <f:then>{unit.name.en_GB}</f:then>
                            <f:else>
                                <f:if condition="{unit.name.de_DE}">
                                    <f:then>{unit.name.de_DE}</f:then>
                                    <f:else>{unit.name}</f:else>
                                </f:if>
                            </f:else>
                        </f:if>
                    </li>
                </f:for>
            </ul>
        </div>
    </f:if>
</div>
</html>
