<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="rendering_equipment rendering_short" data-uuid="{data.uuid}">
    <h4 class="equipment-title">
        <f:render partial="Pure/LocalizedText" arguments="{textData: data.title, lang: locale, fallback: ''}" />
    </h4>

    <f:if condition="{data.type.term}">
        <p class="equipment-type">
            <span class="equipment-type-label"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.equipments.type"/></span>
            <span class="equipment-type-value"><f:render partial="Pure/LocalizedText" arguments="{textData: data.type.term, lang: locale, fallback: ''}" /></span>
        </p>
    </f:if>
</div>
</html>
