<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="rendering_project rendering_short" data-uuid="{data.uuid}">
    <f:comment>Title - multilingual in OpenAPI</f:comment>
    <h4 class="project-title">
        <f:if condition="{data.title.en_GB}">
            <f:then><f:format.raw>{data.title.en_GB}</f:format.raw></f:then>
            <f:else>
                <f:if condition="{data.title.de_DE}">
                    <f:then><f:format.raw>{data.title.de_DE}</f:format.raw></f:then>
                    <f:else><f:format.raw>{data.title}</f:format.raw></f:else>
                </f:if>
            </f:else>
        </f:if>
    </h4>

    <f:if condition="{data.acronym}">
        <p class="project-acronym"><strong>{data.acronym}</strong></p>
    </f:if>

    <p class="project-meta">
        <f:comment>Dates - OpenAPI has nested structure</f:comment>
        <f:if condition="{data.period.startDate.year}">
            <f:then>
                <span class="dates">
                    {data.period.startDate.year}
                    <f:if condition="{data.period.endDate.year}"> - {data.period.endDate.year}</f:if>
                </span>
            </f:then>
            <f:else>
                <f:if condition="{data.period.startDate}">
                    <span class="dates">
                        {data.period.startDate -> f:format.date(format: 'd.m.Y')}
                        <f:if condition="{data.period.endDate}"> - {data.period.endDate -> f:format.date(format: 'd.m.Y')}</f:if>
                    </span>
                </f:if>
            </f:else>
        </f:if>

        <f:comment>Status - may have term structure</f:comment>
        <f:if condition="{data.status.term.en_GB}">
            <f:then><span class="status">({data.status.term.en_GB})</span></f:then>
            <f:else>
                <f:if condition="{data.status}">
                    <span class="status">({data.status})</span>
                </f:if>
            </f:else>
        </f:if>
    </p>
</div>
</html>
